
@font-face{
    font-family: "Rubik_Medium";
    src: url("../fonts/Rubik_Medium.woff2") format("woff2"), url("../fonts/Rubik_Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Rubik_Regular";
    src: url("../fonts/Rubik_Regular.woff2") format("woff2"), url("../fonts/Rubik_Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Merriweather_Black";
    src: url("../fonts/Merriweather_Black.woff2") format("woff2"), url("../fonts/Merriweather_Black.woff") format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}